* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services {
  width: 100%;
  height: 160vh;
  margin: auto;
  background: #f7f7f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 20px;
  color: #36454f;
  padding: 80px 40px;

  h2 {
    width: 1116px;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1217px) {
      width: 1002px;
    }
    @media (max-width: 1055px) {
      width: 963px;
    }
    @media (max-width: 1020px) {
      width: 887px;
    }
    @media (max-width: 931px) {
      width: 813px;
    }
    @media (max-width: 848px) {
      width: 695px;
    }
    @media (max-width: 769px) {
      width: 615px;
      text-align: center;
    }
    @media (max-width: 640px) {
      width: 558px;
    }
    @media (max-width: 540px) {
      width: 455px;
    }
    @media (max-width: 454px) {
      width: 400px;
    }
   
  }

  .servicesMainContainer {
    width: 1116px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .serviceGridCards {
      width: 1116px;
      height: 319px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // justify-content: space-between;
      // align-items: center;
      gap: 24px;

      

      .serviceCards {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        width: 356px;
        height: 300px;
        padding-left: 15px;
        padding-top: 15px;

        .serviceCard {
          display: flex;
          flex-direction: column;
          gap: 5px;
          img {
            width: 60px;
            height: 60px;
            object-fit: contain;
          }
          .serviceText {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: 180%; /* 28.8px */
            }
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 180%; /* 25.2px */
              overflow-y: scroll;
              scroll-snap-type: y mandatory;
              height: 90px;
              scrollbar-width: none;

              &::-webkit-scrollbar {
                display: none;
              }
              @media(max-width:1055px){
                line-height: 159%;
              }
              @media(max-width:1020px){
                line-height: 146%;
              }
            }
            .scroll {
              display: flex;
              align-items: center;
              h4 {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 180%; /* 25.2px */
              }
              img {
                width: 22px;
                height: 20px;
                object-fit: contain;
              }
              @media(max-width:590px){
                display: none;
              }
            }
          }
        }
        @media(max-width:1217px){
          width: 322px;
         }
         @media(max-width:1055px){
          width: 306px;
         }
         @media(max-width:1020px){
          width: 287px;
         }
         @media(max-width:990px){
          width: 407px;
         }
         @media(max-width:903px){
          width: 393px;
        }
         @media(max-width:881px){
          width: 369px;
        }
         @media(max-width:848px){
          width: 330px;
        }
         @media(max-width:769px){
          width: 315px;
        }
         @media(max-width:690px){
          width: 284px;
        }
         @media(max-width:640px){
          width: 274px;
        }
         @media(max-width:590px){
          width: 418px;
          height: 242px;
        }
         @media(max-width:454px){
          width: 340px;
        }
        
        
      }
      @media (max-width: 1217px) {
        width: 1014px;
      }
      @media (max-width: 1055px) {
        width: 963px;
      }
      @media (max-width: 1020px) {
        width: 895px;
      }
      @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 931px) {
        width: 823px;
      }
      @media (max-width: 881px) {
        width: 776px;
      }
      @media (max-width: 848px) {
        width: 695px;
      }
      @media (max-width: 812px) {
        width: 669px;
      }
      @media (max-width: 769px) {
        width: 628px;
      }
      @media (max-width: 690px) {
        width: 590px;
      }
      @media (max-width: 640px) {
        width: 574px;
      }
      @media (max-width: 590px) {
        grid-template-columns: 1fr;
        width: 402px;
      }
      @media (max-width: 540px) {
        width: 408px;
      }
      @media (max-width: 454px) {
        width: 323px;
      }
    
    
    }
    @media (max-width: 1217px) {
      width: 1002px;
    }
    @media(max-width:1055px){
      width: 963px;
    }
    @media(max-width:1020px){
      width: 894px;
    }
    @media(max-width:990px){
      width: 852px;
    }
    @media(max-width:931px){
      width: 813px;
    }
    @media(max-width:881px){
      width: 765px;
    }
    @media(max-width:848px){
      width: 697px;
    }
    @media(max-width:812px){
      width: 666px;
    }
    @media(max-width:769px){
      width: 629px;
    }
    @media(max-width:640px){
      width: 564px;
    }
    @media(max-width:540px){
      width: 467px;
    }
    @media(max-width:454px){
      width: 389px;
    }
  }
  @media(max-width:590px){
    height: 190vh;
  }
}
