* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100%;
  height: calc(100vh - -80px);
  margin: auto;
  background: #f7f7f3;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    // border: 2px solid green;

    .homeLeft {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 0px;
      justify-content: center;
      // border: 2px solid red;

      h3 {
        font-size: 40px;
        font-weight: 700;
        color: #36454f;
        @media(max-width:1189px){
          font-size: 35px;
          font-weight: 600;
        }
        @media(max-width:1074px){
          font-size: 30px;
        }
        @media(max-width:889px){
          font-size: 25px;
        }
        @media(max-width:765px){
          font-size: 22px;
        }
        @media(max-width:689px){
          font-size: 19px;
        }
        @media(max-width:614px){
          font-size: 16px;
        }
        @media(max-width:540px){
          font-size: 13px;
        }
        @media(max-width:465px){
          font-size: 11px;
        }
        @media(max-width:465px){
          font-size: 11px;
        }
        @media(max-width:385px){
          font-size: 9px;
        }
        @media(max-width:330px){
          font-size: 8px;
        }
      }
      h2 {
        font-size: 47px;
        font-weight: 600;
        color: rgba(255, 68, 0, 0.829);
        @media(max-width:1189px){
          font-size: 41px;
        }
        @media(max-width:1074px){
          font-size: 34px;
        }
        @media(max-width:889px){
          font-size: 28px;
        }
        @media(max-width:765px){
          font-size: 25px;
        }
        @media(max-width:689px){
          font-size: 21px;
        }
        @media(max-width:614px){
          font-size: 18px;
        }
        @media(max-width:540px){
          font-size: 14px;
        }
        @media(max-width:465px){
          font-size: 13px;
        }
        @media(max-width:385px){
          font-size: 10px;
        }
        @media(max-width:330px){
          font-size: 9px;
        }
      }
    }

    .homeRight {
      width: 50%;
      // background: burlywood;
      img {
        width: 100%;
        height: 460px;
        object-fit: contain;

        @media(max-width:1211px){
          width: 540px;
        }
        @media(max-width:1096px){
          width: 505px;
        }
        @media(max-width:1074px){
          width: 100%;
        }
        
      }
    }
  }
  @media(max-width:426px){
    padding: 0 20px;
    height: calc(100vh - -48px);
  }
}
