* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutParent {
  width: 100%;
  margin: auto;
  background: #006b75;
  color: whitesmoke;
  padding:0 40px;

  .aboutChild {
    max-width: 1116px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .upperPart {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: orange;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 41.6px */

        @media(max-width:530px){
          font-size: 36px;
        }
        @media(max-width:360px){
          font-size: 31px;
        }
      }
    }
    .lowerPart {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .lowerLeft {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        h2 {
          font-size: 30px;
          font-weight: 600;
          span {
            color: orange;
          }
          @media(max-width:1011px){
            font-size: 29px;
          }
          @media(max-width:880px){
            font-size: 26px;
          }
          @media(max-width:530px){
            font-size: 23px;
          }
          @media(max-width:460px){
            font-size: 20px;
          }
          @media(max-width:360px){
            font-size: 17px;
          }
        }
        p {
          width: 100%;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 180%; /* 25.2px */

          @media (max-width: 1151px) {   //962
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            height: 200px;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
            @media(max-width:1011px){
              height: 228px;
            }
            @media(max-width:864px){
              height: 200px;
            }
            @media(max-width:769px){
              height: 257px;
            }
          }
          @media(max-width:1011px){
            font-size: 13px;
          }
          @media(max-width:530px){
            font-size: 11px;
          }
        }
        @media(max-width:769px){
          gap: 7px;
        }
        @media(max-width:651px){
          width: 90%;
        }
      }
      .lowerRight {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        img {
          width: 450px;
          height: 360px;
          object-fit: contain;
          @media(max-width:865px){
            width: 400px;
            height: 300px;
          }
        }
        @media(max-width:769px){
          display: none;
        }
      }
      @media(max-width:769px){
        justify-content: center;
      }
    }
    @media(max-width:865px){
      gap: 16px;
    }
  }
  @media(max-width:865px){
    padding: 0 29px;
  }
}
